.always-scrollbar::-webkit-scrollbar {
  height: 10px;
}
.always-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--secondary-foreground));
  border-radius: 10px;
  /* NOTE changing the width isn't possible without some hacks */
}
